:root {
    --color-primary: #ffda79;
    --color-swan-white: #f7f1e3;
    --color-grey: #aaa69d;
    --color-light-grey: #d1ccc0;
    --color-dark-grey-1: #26241E;
    --color-dark-grey-2: #84817a;
    --color-red: #ff5252;
    --color-green: #33d9b2;
    --color-purple: #706fd3;
    // --color-green: #218c74;
}