:root {
    --color-primary: #ffda79;
    --color-light-grey: #f7f1e3;
    --color-dark-grey: #26241E;
    --color-red: #ff5252;
    --color-green: #33d9b2;
    --color-purple: #706fd3;
    // --color-green: #218c74;
}