.info-card {

    &__players {
        margin-bottom: 1rem;
    }

    &__timer {
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__player {
        font-weight: 700;
    }
}