.add-words-form {
    margin-top: 2rem;
    text-align: center;

    &__textarea {
        width: 50rem;
        padding: 1rem 2rem;
        border-radius: 3px;
        background-color: rgba(256, 256, 256, .8);
        display: block;
        margin: 2rem;
        box-shadow: var(--block-shadow);
    }

    &__label {
        font-size: 3rem;
        font-weight: 600;
        text-shadow: 0 .2rem .5rem rgba(256, 256, 256, .5);
    }
}