.page {
    padding: 10rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.config-page {

    &__lists {
        align-self: stretch;

        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    

    // &__teams {
    //     margin-left: 10rem;
    // }

    &__button {
        margin-top: 2rem;
    }

}