.page {
    padding: 10rem 12rem;
}

.config-page {
    
    text-align: center;

    &__lists {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    

    &__teams {
        margin-left: 10rem;
    }

    &__button {
        margin-top: 2rem;
    }

    &__message {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

    &__button:disabled:hover + &__message {
        visibility: visible;
        opacity: .7;
    }
}