*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

input, textarea {
    border: none;
    outline: none;
    resize: none;
    font: inherit;
}

button {
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}